* {
  direction: rtl;
  text-align: right;
}
.site {
  display: grid;
  grid-template-columns:250px 1fr;
  height: 100vh;
  background: #f6f7fb; 
}

.sidebar {
  background: #fff;
  padding: 20px;
  box-shadow: 2px 0 10px rgba(0,0,0,0.05);
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.content {
  padding: 30px;
}
.sidebarHeader{
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    margin: 0;
    padding: 0;
}
.logo{
    display: flex;
    align-items: center;
}
.logo_content h1{
    margin: 0;
}
.logo_content p{
    margin: 0;
}

.logo img{
    background-color: #3b3ee3;
    padding: 15px;
    width: 30px;
    border-radius: 10px;
}
.sidebarList{
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 20px;
}
.sidebarList li{
  display: flex;
  gap: 10px;
  justify-content: flex-start;
  padding: 5px;
  margin-bottom: 10px;
  border: 1px solid #fff;
  border-radius: 20px;
  margin-bottom: 4px;
  align-items: center;
}
.sidebarList li p{
  height: 100%;
  align-self: center;
}
.sidebarList img{
    width: 25px;
    height: 25px;
    padding: 10px; 
    object-fit: cover;
}
.active{
  background-color: oklch(97% .014 254.604);;
}
.image_boderd{
  border: 1px solid #fff;
  border-radius: 10px;
  background-color: oklch(97% .014 254.604);;
}