* {
  direction: rtl;
  text-align: right;
}
.site {
  display: grid;
  grid-template-columns:250px 1fr;
  height: 100vh;
  background: #f6f7fb; 
}

.sidebar {
  background: #fff;
  padding: 20px;
  box-shadow: 2px 0 10px rgba(0,0,0,0.05);
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.sidebarHeader{
  display: flex;
  justify-content: flex-start;
  gap: 10px;
    margin: 0;
    padding: 0;
  }
  .logo{
    display: flex;
    align-items: center;
  }
  .logo_content h1{
    margin: 0;
  }
  .logo_content p{
  color: #6c757d;
    margin: 0;
  }
  
  .logo img{
    background-color: #3b3ee3;
    padding: 15px;
    width: 30px;
    border-radius: 10px;
  }
.sidebarList{
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 20px;
}
.sidebarList li{
  display: flex;
  gap: 10px;
  justify-content: flex-start;
  padding: 5px;
  margin-bottom: 10px;
  border: 1px solid #fff;
  border-radius: 20px;
  margin-bottom: 4px;
  align-items: center;
}
.sidebarList li p{
  height: 100%;
  align-self: center;
}
.sidebarList img{
    width: 25px;
    height: 25px;
    padding: 10px; 
    object-fit: cover;
}
.active{
  background-color: oklch(97% .014 254.604);;
}
.image_boderd{
  border: 1px solid #fff;
  border-radius: 10px;
  background-color: oklch(97% .014 254.604);;
}
.hasHoverEffect {
  transition: transform 0.3s ease;
}

.hasHoverEffect:hover {
  transform: translateX(10px);
}



.parent {
    display: grid;
    padding: 30px;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    gap: 8px;
}
    
.div1 {
    grid-column: 1 / span 12;
    height: 100px;
}

.div2 {
    grid-column: span 4 / span 4;
    grid-column-start: 9;
    grid-row-start: 2;
    padding: 20px;
  }
  
  .div3 {
    grid-column: span 4 / span 4;
    grid-column-start: 5;
    grid-row-start: 2;
    padding: 20px;
  }
  
  .div4 {
    grid-column: span 4 / span 4;
    grid-column-start: 1;
    grid-row-start: 2;
    padding: 20px;
}

.div5 {
    grid-column: span 4 / span 4;
    grid-row: span 2 / span 2;
    grid-column-start: 9;
    grid-row-start: 3;
}

.div6 {
    grid-column: span 8 / span 8;
    grid-row: span 4 / span 4;
    grid-column-start: 1;
    grid-row-start: 3;
}

.div7 {
    grid-column: span 4 / span 4;
    grid-row: span 2 / span 2;
    grid-column-start: 9;
    grid-row-start: 5;
}

.div8 {
    grid-column: span 4 / span 4;
    grid-row: span 6 / span 6;
    grid-column-start: 9;
    grid-row-start: 7;
}

.div9 {
    grid-column: span 4 / span 4;
    grid-row: span 3 / span 3;
    grid-column-start: 5;
    grid-row-start: 7;
}

.div10 {
    grid-column: span 4 / span 4;
    grid-row: span 3 / span 3;
    grid-column-start: 5;
    grid-row-start: 10;
}

.div11 {
    grid-column: span 4 / span 4;
    grid-row: span 2 / span 2;
    grid-column-start: 1;
    grid-row-start: 7;
}

.div12 {
    grid-column: span 4 / span 4;
    grid-row: span 2 / span 2;
    grid-column-start: 1;
    grid-row-start: 9;
}

.div13 {
    grid-column: span 4 / span 4;
    grid-row: span 2 / span 2;
    grid-row-start: 11;
}
.div1{
  display: grid;
  grid-template-columns:auto auto 1fr;
  align-items: center;
  gap: 10px;
  background-color: #fcfdfe;
  border-radius: 10px;
  padding: 20px;
}
.online{
  background-color: #f0fdf4;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #38d577;
  padding: 5px 10px;
  border: 1px solid #38d577;
  border-radius: 10px;
  gap: 5px;
}
.online p{
  margin: 0;
  padding: 0;
}
.online span{
  display: block;
  width: 7px;
  height: 7px;
  background-color: #38d577;
  border-radius: 50%;
}  
.header-controlls{
  display: flex;
  justify-content: end;
  align-items: center;
}      
.header-controlls img{
  width: 15px;
}    
.search , .alert{
  position: relative;
  border: 1px solid #777;
  border-radius: 5px;
  padding: 5px 5px;
  display: flex;
  align-items: center;
  margin:  0px 4px;
}
.alert > span{
  position: absolute;
  background-color: red;
  font-size: 10px;
  color: white;
  padding: 2px;
  height: 10px;
  width:  10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  top: -7.5px;
  right: -7.5px;
}
.user{
  display: flex;
  align-items: center;
  padding: 5px 10px;
  margin: 0px 10px;
  background-color: #fff;
  border: 1px solid #e5e7ea;
  border-radius: 10px;
}  
.avatar{
  padding-right: 3px;
  object-fit: scale-down;
  display: block;
  width: 30px !important;
}

.user p {
  margin: 0;
  padding-left: 3px;
}
div p:nth-of-type(2) {
  color: #6c757d;
  font-size: 10px;
}
.hasShadow{
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}
.hasHoverShadow{
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}
.hasHoverShadow:hover{
  transform: translateY(-1px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}
.bg-white{
  background-color: #fff;
}
.reduse{
  border-radius: 10px;
}
.t-secondery{
  color: #6c757d;
}
.d-flex-center{
  display: flex;
}
.align-center{
  align-items: center;
}
.justify-center{
  justify-content: center;
}
.c-danger{
  color: red;
}
.bg-danger{
  background-color: red;
}
.m-0{
  margin: 0;
}